@import "../../../constants";

.InfoBox {
  display: none;
  position: absolute;
  top: 0;
  box-sizing: border-box;
  padding: 14px 0 0 16px;
  border-radius: 10px;
  border: 1px solid $ThemeDay-InfoBox-borderColor;
  box-shadow: 0 2px 3px $ThemeDay-InfoBox-borderColor;
  background-color: $ThemeDay-InfoBox-backgroundColor;

  #{$ThemeNight-className} & {
    border: 1px solid $ThemeNight-InfoBox-borderColor;
    box-shadow: 0 2px 3px $ThemeNight-InfoBox-borderColor;
    background-color: $ThemeNight-InfoBox-backgroundColor;
  }

  &.visible {
    display: block;
  }

  &-Date {
    width: 100%;
    font-size: 1rem;
    margin: 0 16px 16px 0;
    color: $ThemeDay-InfoBox-Date-color;

    #{$ThemeNight-className} & {
      color: $ThemeNight-InfoBox-Date-color;
    }
  }

  &-Item {
    display: none;
    margin: 0 16px 10px 0;

    &.visible {
      display: inline-block;
    }

    &-Value {
      font-weight: bold;
      font-size: 1.15rem;
      margin-bottom: 8px;
    }

    &-Title {
      font-size: 0.9rem;
    }
  }
}
