
body {
    font: 1rem/1.2rem "Open Sans","Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,Verdana,sans-serif;
    padding: 20px;
}

body.night {
    background-color: #242f3e;
}

.Chart {
    margin: 20px 0;
}

@media screen and (min-width: 800px){
    .Chart {
        width: 800px !important;
        left: 50%;
        margin: 20px 0 20px -400px;
    }
}

.ThemeSwitcher {
    position: relative;
    display: block;
    height: 60px;
    width: 240px;
    left: 50%;
    margin: 0 0 20px -120px;
    line-height: 60px;
    font-size: 1.3rem;
    text-align: center;
    color: #108be3;
    text-decoration: none;
}

.ThemeSwitcher:before {
    content: 'Switch to Night Mode';
}

.night .ThemeSwitcher:before {
    content: 'Switch to Day Mode';
    color: #36a8f1;
}
