@import '../../constants';

.Navigation {
  position: relative;
  display: block;
  width: 100%;
  height: 50px;
  overflow: hidden;
  box-sizing: border-box;
  margin-bottom: $Chart-Block-Margin;

  &-Graph {
    width: 100%;
    height: 100%;
  }

  &-Shadow-Left, &-Shadow-Right {
    position: absolute;
    top: 0;
    height: 100%;
    background-color: $ThemeDay-Navigation-Shadow-backgroundColor;
    opacity: $ThemeDay-Navigation-Shadow-opacity;

    #{$ThemeNight-className} & {
      background-color: $ThemeNight-Navigation-Shadow-backgroundColor;
      opacity: $ThemeNight-Navigation-Shadow-opacity;
    }
  }

  &-Shadow-Left {
    left: 0;
    width: 0;
  }

  &-Shadow-Right {
    right: 0;
    width: 0;
  }

  &-Scroll {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: auto;
    border-top: 2px solid $ThemeDay-Navigation-Scroll-borderColor;
    border-bottom: 2px solid $ThemeDay-Navigation-Scroll-borderColor;
    border-left: 6px solid $ThemeDay-Navigation-Scroll-borderColor;
    border-right: 6px solid $ThemeDay-Navigation-Scroll-borderColor;

    #{$ThemeNight-className} & {
      border-top: 2px solid $ThemeNight-Navigation-Scroll-borderColor;
      border-bottom: 2px solid $ThemeNight-Navigation-Scroll-borderColor;
      border-left: 6px solid $ThemeNight-Navigation-Scroll-borderColor;
      border-right: 6px solid $ThemeNight-Navigation-Scroll-borderColor;
    }

    &-Left, &-Right {
      cursor: ew-resize;
      position: absolute;
      top: 0;
      width: 16px;
      height: 100%;
    }

    &-Left {
      left: -11px;

      &.TouchScreen {
        width: 56px;
        left: -36px;
      }
    }

    &-Right {
      right: -11px;

      &.TouchScreen {
        width: 56px;
        right: -36px;
      }
    }
  }
}
